if [ -z "${JETBRAINS_IDE_ID}" ] || [ "${JETBRAINS_IDE_ID}" != "GO" ]; then
  return 0
fi

if [ -d "${HOME}/go" ]; then
  echo "Userland GOROOT exists..."
  GOROOT=$(find "${HOME}/go" -maxdepth 1 -type d -name 'go*' -print | sort -V | tail -n1)
  export GOROOT
fi

NEWBIN="$(go env GOPATH)/bin"
if ! [[ "${PATH}" =~ ${NEWBIN} ]]; then
  [ -d "${NEWBIN}" ] && PATH="${NEWBIN}:${PATH}"
  export PATH
fi