# Remove the systemwide version of GO
if [ -d /usr/local/go ]; then
  sudo rm -rf /usr/local/go
fi

# If Go is installed, we will find it here.
export GOROOT=$(find $HOME/go/ -maxdepth 1 -type d -name 'go*' -print | sort -V | tail -n1)

# Install Golang if not already installed.
if ! command -v "${GOROOT}/bin/go" &> /dev/null; then
  echo "Installing Golang"
  #curl -Lo go_installer https://get.golang.org/linux && chmod +x go_installer && ./go_installer && rm go_installer
fi

# Ensure that GOROOT is set to an actual directory.
export GOROOT=$(find $HOME/go/ -maxdepth 1 -type d -name 'go*' -print | sort -V | tail -n1)

if command -v go &> /dev/null; then
  NEWBIN="$(go env GOPATH)/bin"
  if ! [[ "$PATH" =~ "$NEWBIN" ]]; then
    [ -d "$NEWBIN" ] && PATH="$NEWBIN:$PATH"
  fi
fi

export PATH

if command -v go &> /dev/null; then
    go install golang.org/x/tools/cmd/goimports@latest
    go install github.com/fzipp/gocyclo/cmd/gocyclo@latest
    curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b "$(go env GOPATH)/bin" v1.46.1
    go install -v github.com/go-critic/go-critic/cmd/gocritic@latest
    go install github.com/spf13/cobra-cli@latest
    go install github.com/swaggo/swag/cmd/swag@latest
fi
