# Ensure that GOROOT is set to an actual directory.
if [ -d $HOME/go/ ]; then
  export GOROOT=$(find $HOME/go/ -maxdepth 1 -type d -name 'go*' -print | sort -V | tail -n1)
else
  echo "!!! Golang is not installed !!!"
fi

if command -v go &>/dev/null; then
  NEWBIN="$(go env GOPATH)/bin"
  if ! [[ "$PATH" =~ "$NEWBIN" ]]; then
    [ -d "$NEWBIN" ] && PATH="$NEWBIN:$PATH"
  fi
fi

export PATH
