# See what command you are using the most (this parses the history command)
cm() {
  history | awk ' { a[$4]++ } END { for ( i in a ) print a[i], i | "sort -rn | head -n10"}' | awk '$1 > max{ max=$1} { bar=""; i=s=10*$1/max;while(i-->0)bar=bar"#"; printf "%25s %15d %s %s", $2, $1,bar, "\n"; }'
}

# Where is a function defined?
whichfunc() {
  whence -v "${1}"
  type -a "${1}"
}

## mkcd = create a directory and `cd` into it
mkcd() { 
  mkdir -p "$@"
  cd "$@" || false
}

alias cls='clear'
export HISTTIMEFORMAT="%y/%m/%d "

## Quietly install APT package and update the cache if needed.
function apt_install {
  # Define the directory to check
  CACHE_DIR="/var/lib/apt/lists/partial"
  # Determine if we need to prefix commands with sudo
  SUDO=""
  if [ "$(id -u)" -ne 0 ]; then
    SUDO="sudo"
  fi
  # Check if the directory exists and was modified in the last 60 minutes
  if [ ! -d "$CACHE_DIR" ] || ! find "$CACHE_DIR" -mmin -60 -print -quit &>/dev/null; then
    echo "Stale Package Cache, updating..."
    # Update package cache with a 300-second timeout for dpkg lock
    ${SUDO} apt-get -o DPkg::Lock::Timeout=300 -qq update
  fi

  echo "Installing packages [$@]"
  ${SUDO} apt-get -o DPkg::Lock::Timeout=300 install -qq $@ < /dev/null > /dev/null
}
