# See what command you are using the most (this parses the history command)
cm() {
  history | awk ' { a[$4]++ } END { for ( i in a ) print a[i], i | "sort -rn | head -n10"}' | awk '$1 > max{ max=$1} { bar=""; i=s=10*$1/max;while(i-->0)bar=bar"#"; printf "%25s %15d %s %s", $2, $1,bar, "\n"; }'
}

# Where is a function defined?
whichfunc() {
  whence -v "${1}"
  type -a "${1}"
}

## mkcd = create a directory and `cd` into it
mkcd() { 
  mkdir -p "$@"
  cd "$@" || false
}

alias cls='clear'
export HISTTIMEFORMAT="%y/%m/%d "

## Quietly install APT package and update the cache if needed.
function apt_install {
  if [ -z "$(find /var/cache/apt/pkgcache.bin -mmin -60 &>/dev/null)" ]; then
    echo "Stale package cache, updating..."
    apt-get update
  fi

  echo "Installing packages [$@]"
  apt-get install -qq $@ < /dev/null > /dev/null
}